<h1 class="Titre">{{Titre}}</h1>
<button (click)="togglePublication(1)">Publier/Dépublier</button>
<div *ngIf="article.isPublished">
    <div>
        <h2>{{article.title}}</h2>
    </div>
    <img class="img" [src]="article.image" alt="burreau"/>
    <p>{{article.content}}</p>
    <input type="text" [(ngModel)]="article.comment">
    <p>{{article.comment}}</p>
</div>

<button (click)="togglePublication(2)">Publier/Dépublier</button>
<div *ngIf="article2.isPublished">
    <div>
        <h2>{{article2.title}}</h2>
    </div>
    <img class="img" [src]="article2.image" alt="bureau"/>
    <p>{{article2.content}}</p>
    <input type="text" [(ngModel)]="article2.comment">
    <p>{{article2.comment}}</p>
</div>
<button (click)="togglePublication(3)">Publier/Dépublier</button>
<div *ngIf="article3.isPublished">
    <div>
        <h2>{{article3.title}}</h2>
    </div>
    <img class="img" [src]="article3.image" alt="burreau"/>
    <p>{{article3.content}}</p>
    <input type="text" [(ngModel)]="article3.comment">
    <p>{{article3.comment}}</p>
</div>
