<div class="articlePokeContainer">
    @for(article of articles;track $index){
      @if(article.isPublished){
        <div [ngClass]="article.likes > 100 ?'UltraLiked':'article' ">
            <h1 [ngStyle]="{'color': article.likes > 100 ? 'red':'black'}">{{article.title}}</h1>
            <img [src]="article.image" alt="pokémon">
            <p>{{article.content}}</p>
            <p>{{article.author}}</p>
        </div>
      }
      @else{
        <p>Ce pokémon a été choisis par Sasha</p>
      }    
    }
</div>
